{% extends "::Base.html.twig" %}

{% block body %}
    <div class="bloc_page_bodyg">
        {#
        <div class="blocgau">
            {{ include("BaseNrohoBundle:Default:menu.html.twig") }}
        </div>
        #}
        <div class="menucompte1">
            <div class="contenu1">
                <h2>
                        Bienvenue Prénom
                </h2>

                <h3>
                        Quelques minutes pour comprendre votre éspace
                </h3>

                <p>	
                        30 petites secondes pour vous permettre de prendre une meilleure décision que si vous aviez passé des heures 
                        à chercher sur la toile. 30 secondes pour ranger sur votre écran les informations triées de tous covoitureurs. 
                        Et de tous ceux que vous ne connaissiez pas encore.
                </p>


                <p>
                        C’est une grande différence par rapport aux sites qui mélangent l’information et le service et qui ont 
                        intérêt à vous proposer les produits qui leur rapportent le plus.
                </p>

                <h3>
                        Comment déposer une annonce :
                </h3>

                <p>	
                nroho.com est un site créé par l’équipe de loweeb.com, une jeune startup  crée en 2011, financée par ses 
                fondateurs. L’équipe se compose de passionnés de nouvelles technologies et de voyages, souhaitant 
                construire le meilleur moteur de recherche de voyages en Algérie. souhaitant rendre la déstination Algérie 
                plus accessible.
                </p>

                <h3>
                        Comment Modifier ou Supprimer une annonce :
                </h3>

                <p>	
                nroho.com est un site créé par l’équipe de loweeb.com, une jeune startup  crée en 2011, financée par ses 
                fondateurs. L’équipe se compose de passionnés de nouvelles technologies et de voyages, souhaitant 
                construire le meilleur moteur de recherche de voyages en Algérie. souhaitant rendre la déstination Algérie 
                plus accessible.
                </p>

                <h3>
                        C'est quoi "Pages" ? :
                </h3>

                <p>	
                nroho.com est un site créé par l’équipe de loweeb.com, une jeune startup  crée en 2011, financée par ses 
                fondateurs. L’équipe se compose de passionnés de nouvelles technologies et de voyages, souhaitant 
                construire le meilleur moteur de recherche de voyages en Algérie. souhaitant rendre la déstination Algérie 
                plus accessible.
                </p>

                <h3>
                        Comment créer une page événement :
                </h3>

                <p>	
                nroho.com est un site créé par l’équipe de loweeb.com, une jeune startup  crée en 2011, financée par ses 
                fondateurs. L’équipe se compose de passionnés de nouvelles technologies et de voyages, souhaitant 
                construire le meilleur moteur de recherche de voyages en Algérie. souhaitant rendre la déstination Algérie 
                plus accessible.
                </p>

                <h3>
                        Comment créer une page Campus :
                </h3>

                <p>	
                nroho.com est un site créé par l’équipe de loweeb.com, une jeune startup  crée en 2011, financée par ses 
                fondateurs. L’équipe se compose de passionnés de nouvelles technologies et de voyages, souhaitant 
                construire le meilleur moteur de recherche de voyages en Algérie. souhaitant rendre la déstination Algérie 
                plus accessible.
                </p>

                <h3>
                        Comment créer une page Personnelle :
                </h3>

                <p>	
                nroho.com est un site créé par l’équipe de loweeb.com, une jeune startup  crée en 2011, financée par ses 
                fondateurs. L’équipe se compose de passionnés de nouvelles technologies et de voyages, souhaitant 
                construire le meilleur moteur de recherche de voyages en Algérie. souhaitant rendre la déstination Algérie 
                plus accessible.
                </p>
            </div>

        </div>
    </div>
{% endblock %}