{% extends "::Base.html.twig" %}

{% block body %}
<div class="bloc_page_bodyg">
    <div class="blocgau">
        {{ include("BaseNrohoBundle:Default:menu.html.twig") }}
    </div>
    <div class="menucompty">
        <div class="menucompto">
            <div class="contenu1">
                <h2>
                        Bienvenue Nadir
                </h2>
            </div>
        </div>	
    </div>
</div>
{% endblock %}
