{% extends "::base.html.twig" %}

{% block body %}
    <h1>Inscription</h1>
    <form method="post" {{ form_enctype(form) }}>
        
        {{ form(form) }}
        
        <input type="submit">
    </form>
{% endblock%}
