{% extends "::base.html.twig" %}

{% block body %}
<div id="bloc_page_body">
    <section>
        <div id="mr1">
            <div class="mr2">
                <p>
                    C'est bon !
                    <br/>Votre annonce sera publiée après avoir été validé par notre équipe ! <br/>
                </p>
                <br/>
                <div class="mr6">
                    <a href="{{ url('nroho_base_default') }}">Voir les annonces</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
