parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     8888
    database_name:     nroho
    database_user:     root
    database_password: root

    mailer_transport:  smtp
    mailer_host:       smtp.nroho.com
    mailer_user:       contact@nroho.com
    mailer_password:   Chalgrin16

    locale:            fr
    secret:            24b6fcf1d1992c1731bcf33023857f9c
